.background {
  background-size: 100%;
}

.nav {
  width: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto 15%;
  align-items: center;
}

.logoMT {
  text-align: left;
  margin-left: 15%;
}

.navbar {
  font-family: Montserrat SemiBold;
  font-size: 10pt;
  text-align: right;
  height: 10pt;
}

.link,
.link:link,
.link:active,
.link:visited {
  font-size: 10pt;
  font-weight: bold;
  text-align: right;
  color: white;
  text-decoration: none;
  padding: 10px;
  font-family: sans-serif;
}

.link:hover {
  background: #16A085;
  border-radius: 18px;
}

.akun {
  text-align: left;
  margin-top: 7.5%;
}

.konten {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 33px;
}

.judul {
  font-family: Montserrat SemiBold;
  font-size: 30pt;
  margin-left: 4.25%;
  margin-top: 0%;
  margin-bottom: 0%;
}

.isi {
  width: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 35%;
}

.keterangan {
  font-family: Montserrat SemiBold;
  text-align: justify;
  font-size: 12pt;
  margin-left: 6.75%;
  margin-right: 4.25%;
}

.telusuri {
  text-align: center;
  margin-top: 8%;
}

.navslide {
  text-align: center;
  width: auto;
  margin-top: 0.9%;
  margin-left: 4.25%;
  display: grid;
  grid-template-columns: 2.25% 2.25% 2.25% 2.25% 2.25%;
}

.slide1 {
  text-align: center;
  border-radius: 40px;
}

.slide2 {
  text-align: center;
  border-radius: 40px;
}

.slide3 {
  text-align: center;
  border-radius: 40px;
}

.slide4 {
  text-align: center;
  border-radius: 40px;
}

.slide5 {
  text-align: center;
  border-radius: 40px;
}

.logo {
  margin-top: 20px;
  margin-left: 50px;
  float: left;
}

.tombol_login {
  float: right;
  margin-right: 60px;
  margin-top: 20px;
}

.navigasi {
  color: white;
  float: left;
  margin-left: 460px;
  margin-top: 30px;
  font-size: 12px;
}

.left-arrow {
  float: left;
  margin-top: 255px;
  margin-left: -1180px;
}

.right-arrow {
  margin-top: 255px;
  float: right;
  margin-right: -135px;
}

.deskripsi_masjid {
  float: left;
  margin-top: 340px;
  margin-left: -168px;
}

.scroll {
  float: right;
  margin-top: 520px;
  margin-right: -85px;
}

.background_transparant {
  width: 1393px;
  height: 668px;
  margin-left: -10px;
  margin-top: -10px;
  background-color: rgba(255,255,255,0.5);
}

.logo_login{
  width: 200px;
  margin-left: 570px;
  margin-top: 50px;

.kotak_login{
  align: center;
  float: right;
  width: 30%;
	background-color: white;
