/* Untuk setting backgound utama */
body {
  background-color: #16A085;
  font-family: Arial;
  /* color: white; */
}

.inputan {
  font-family: Montserrat SemiBold;
  color: white;
  font-size: 18pt;
  padding: 30px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 20px;
}

.petunjuk {
  border-radius: 100px;
  border: 1px solid grey;
  width: 4%;
  padding: 5px;
  font-family: Montserrat SemiBold;
  font-size: 19pt;
  margin-bottom: 5px;
  cursor: pointer;
  color: white;
  background-color: grey;
  margin-left: 0%;
}

.kotakInput1 {
  border-radius: 8px;
  border: 1px solid white;
  width: 40%;
  padding: 5px;
  font-family: Montserrat SemiBold;
  font-size: 12pt;
  margin-bottom: 5px;
}

.kotakInput2 {
  border-radius: 8px;
  border: 1px solid white;
  width: 19.1%;
  padding: 5px;
  font-family: Montserrat SemiBold;
  font-size: 12pt;
  margin-bottom: 5px;
}

.slideshow {
  display: none;
}

.videobg {
  position: fixed;
  /* background-color: rgba(0, 0, 100, 0.3); */
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
}

.videobg h2 {
  transition: 0.4s;
  text-align: center;
  font-size: 5rem;
  position: absolute;
  top: 55%;
  left: 50%;
  margin-right: -50%;
  margin: 0px;
  padding: 0px;
  opacity: .9;
  transform: translate(-50%, -50%)
}

/* nav {
  position: fixed;
  width: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 18% auto 15%;
  align-items: center;
} */

.nav {
  position: fixed;
  width: 100%;
  margin: 0 0 0 0;
  display: grid;
  grid-template-columns: 18% 67.5% 15%;
  align-items: center;
}

.navContent {
  position: fixed;
  background-color: #16A085;
  width: 100%;
  margin: -1% 0 0 0;
  display: grid;
  grid-template-columns: 18% 67.5% 15%;
  align-items: center;
}

.logoMT {
  text-align: right;
  margin-top: 5px;
  /* margin-left: 15%; */
}

.navbar {
  font-family: Montserrat SemiBold;
  font-size: 10pt;
  height: 10pt;
}

.link,
.link:link,
.link:active,
.link:visited {
  font-size: 10pt;
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 12px;
  font-family: sans-serif;
}

.link:hover {
  background: #16A085;
  border-radius: 10rem;
}

.linkContent,
.linkContent:link,
.linkContent:active,
.linkContent:visited {
  font-size: 10pt;
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 12px;
  font-family: sans-serif;
}

.linkContent:hover {
  background: white;
  color: #16A085;
  border-radius: 10rem;
}

#active {
  border-bottom: 3px solid white;
}

#active:hover {
  border-bottom: 0px solid rgba(22, 160, 132, 0);
}

#activeContent {
  border-bottom: 3px solid white;
}

#activeContent:hover {
  border-bottom: 3px solid #16A085;
}

.transisi {
  transition: 0.4s;
}

.akun {
  text-align: left;
  margin-top: 7.5%;
}

.konten {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 33px;
}

.judul {
  font-family: Montserrat SemiBold;
  font-size: 30pt;
  margin: 0 0 0 4.25%;
  color: white;
}

.ContentGrid {
  background-color: #16A085;
  border-radius: 20px;
  width: auto;
  margin: 0 30% 0 30%;
  display: grid;
  padding: 5px;
  grid-template-columns: auto auto;
  align-items: center;
  text-align: center;
}

/* .AddContent {
  color: white;
  font-family: Aleo;
}

.SeeContent {
  color: white;
  font-family: Aleo;
} */

.AddContent,
.AddContent:link,
.AddContent:active,
.AddContent:visited {
  font-family: Aleo;
  font-size: 12pt;
  margin: 0 0 0 0;
  color: white;
  padding: 8px;
  text-decoration: none;
  /* font-size: 10pt; */
  /* font-weight: bold; */
  /* text-align: right; */
  /* color: white; */
}

.AddContent:hover {
  background: white;
  color: #16A085;
  border-radius: 15px;
}

.SeeContent,
.SeeContent:link,
.SeeContent:active,
.SeeContent:visited {
  font-family: Aleo;
  font-size: 12pt;
  margin: 0 0 0 0;
  color: white;
  padding: 8px;
  text-decoration: none;
  /* font-size: 10pt; */
  /* font-weight: bold; */
  /* text-align: right; */
  /* color: white; */
}

.SeeContent:hover {
  background: white;
  color: #16A085;
  /* padding: 10px; */
  border-radius: 15px;
}

#LocActive {
  font-weight: bold;
  /* border-bottom: 3px solid white; */
}


.IsiContent {
  font-family: Aleo;
  background-color: #16A085;
  border-radius: 20px;
  width: auto;
  margin: 0 4% 0 4%;
  padding: 4px;
  align-items: center;
  color: white;
}

.judulContent {
  text-align: center;
  font-weight: bold;
  font-size: 20pt;
  margin: 20px 0 0 0;
}

.textContent {
  font-family: Aleo;
  font-size: 14pt;
  margin: 0 5% 5% 5%;
  text-align: justify;
  /* padding: 100px; */
}

.ContentVideo {
  margin: 2% 0 2% 21.5%;
  border-radius: 20px;
}

/* ---------------- */

/* .respon {
  background-color: white;
  color: black;
}

.kanan {
  float: right;
}

nav .kanan>a {
  display: inline-block;
  text-align: center;
  margin-top: 15px;
  ;
  padding: 10px;
  ;
  border-radius: 4px;
  background-color: #2196F3;
}

nav .kanan>a:hover {
  background-color: #fff;
  color: #2196F3;
  border: solid 2px #2196F3;
  padding: 8px;
} */

/* ----------------- */

.gridLocation {
  background-color: #16A085;
  border-radius: 15px;
  width: auto;
  margin: 0 4% 0 4%;
  display: grid;
  padding: 4px;
  grid-template-columns: 15% 13.5% 13.5% 20% 20% auto auto auto auto auto auto auto auto;
  align-items: center;
}

.gridLocationS {
  background-color: #16A085;
  border-radius: 15px;
  width: auto;
  margin: 0 4% 0 4%;
  display: grid;
  padding: 4px;
  grid-template-columns: 9% 13.5% 13.5% 20% 20% auto auto auto auto auto auto auto auto;
  align-items: center;
}

.gridLocationJM {
  background-color: #16A085;
  border-radius: 15px;
  width: auto;
  margin: 0 4% 0 4%;
  display: grid;
  padding: 4px;
  grid-template-columns: 9% 14% 7.8% 20% 20% auto auto auto auto auto auto auto auto;
  align-items: center;
}

.gridLocationNT {
  background-color: #16A085;
  border-radius: 15px;
  width: auto;
  margin: 0 4% 0 4%;
  display: grid;
  padding: 4px;
  grid-template-columns: 9% 13.5% 13.5% 20% 20% auto auto auto auto auto auto auto auto;
  align-items: center;
}

.gridLocationK {
  background-color: #16A085;
  border-radius: 15px;
  width: auto;
  margin: 0 4% 0 4%;
  display: grid;
  padding: 4px;
  grid-template-columns: 9% 13.5% 13.5% 20% 20% auto auto auto auto auto auto auto auto;
  align-items: center;
}

.gridLocationM {
  background-color: #16A085;
  border-radius: 15px;
  width: auto;
  margin: 0 4% 0 4%;
  display: grid;
  padding: 4px;
  grid-template-columns: 9% 13.5% 13.5% 20% 20% auto auto auto auto auto auto auto auto;
  align-items: center;
}

.gridLocationPapua {
  background-color: #16A085;
  border-radius: 15px;
  width: auto;
  margin: 0 4% 0 4%;
  display: grid;
  padding: 4px;
  grid-template-columns: 9% 13.5% 13.5% 20% 20% auto auto auto auto auto auto auto auto;
  align-items: center;
}

.gridLocationP {
  background-color: #16A085;
  border-radius: 15px;
  width: auto;
  margin: 0 4% 0 4%;
  display: grid;
  padding: 4px;
  grid-template-columns: 8% 17% 6.5% 13% auto auto auto auto auto auto auto auto auto;
  align-items: center;
}

.gridLocationTv {
  background-color: #16A085;
  border-radius: 15px;
  width: auto;
  margin: 0 4% 0 4%;
  display: grid;
  padding: 4px;
  grid-template-columns: 4.5% 17% 6.5% 13% auto auto auto auto auto auto auto auto auto;
  align-items: center;
}

.gridLocationT {
  background-color: #16A085;
  border-radius: 15px;
  width: auto;
  margin: 0 4% 0 4%;
  display: grid;
  padding: 4px;
  grid-template-columns: 5% 12.75% 6.5% 13% auto auto auto auto auto auto auto auto auto;
  align-items: center;
}

.gridLocationTK {
  background-color: #16A085;
  border-radius: 15px;
  width: auto;
  margin: 0 4% 0 4%;
  display: grid;
  padding: 4px;
  grid-template-columns: 10% 12.75% 6.5% 13% auto auto auto auto auto auto auto auto auto;
  align-items: center;
}

.location,
.location:link,
.location:active,
.location:visited {
  font-family: Aleo;
  font-size: 12pt;
  margin: 0 0 0 0;
  color: white;
  padding: 5px;
  text-decoration: none;
  /* font-size: 10pt; */
  /* font-weight: bold; */
  /* text-align: right; */
  /* color: white; */
}

.location:hover {
  background: white;
  color: #16A085;
  /* border-radius: 10rem; */
}

#LocActive {
  font-weight: bold;
  /* border-bottom: 3px solid white; */
}

.contentText {
  color: #143D16;
  font-size: 25px;
}

.star {
  font-weight: 20px;
  height: 20px;
  margin-left: 60px;
}

.isi {
  color: white;
  width: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 35%;
}

.telusuri {
  text-align: center;
  margin-top: 8%;
}

.navslide {
  text-align: center;
  width: auto;
  margin-top: 0.9%;
  margin-left: 4.25%;
  display: grid;
  grid-template-columns: 2.25% 2.25% 2.25% 2.25% 2.25%;
}

.slide1 {
  text-align: center;
  border-radius: 40px;
}

.slide2 {
  text-align: center;
  border-radius: 40px;
}

.slide3 {
  text-align: center;
  border-radius: 40px;
}

.slide4 {
  text-align: center;
  border-radius: 40px;
}

.slide5 {
  text-align: center;
  border-radius: 40px;
}

.logo {
  margin-top: 5px;
  margin-left: 50px;
  float: left;
}

.tombol_login {
  float: right;
  margin-right: 60px;
  margin-top: 20px;
}

.navigasi {
  color: white;
  float: left;
  margin-left: 460px;
  margin-top: 30px;
  font-size: 12px;
}

.left-arrow {
  float: left;
  margin-top: 255px;
  margin-left: -1180px;
}

.right-arrow {
  margin-top: 255px;
  float: right;
  margin-right: -135px;
}

.deskripsi_masjid {
  float: left;
  margin-top: 340px;
  margin-left: -168px;
}

.scroll {
  float: right;
  margin-top: 520px;
  margin-right: -85px;
}

.backgroundTransparantLog {
  width: 1393px;
  height: 668px;
  margin-top: -10px;
  margin-left: -8px;
  background-color: rgba(255, 255, 255, 0.6);
}

.loginNav {
  text-align: center;
  height: 60px;
  margin: 5px 0 15px 0;
  align-items: center;
}

.titleNav {
  display: grid;
  grid-template-columns: auto 10%;
  align-items: center;
}

.title {
  font-size: 25pt;
  margin-left: 5.5%;
  margin-top: 0;
  margin-bottom: 0;
}

.cancel {
  margin-top: 5px;
}

.bodyWelcome {
  text-align: center;
  font-size: 12pt;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* img.loginLogo {
  font-size: 1%;
} */

.kotakLogin {
  font-family: Montserrat SemiBold;
  text-align: center;
  float: left;
  width: 30%;
  background-color: white;
  margin-left: 408px;
  margin-bottom: 50px;
  text-align: center;
  padding: 30px;
  border-radius: 40px;
  transition: 0.5s;
}

.inpLogNav {
  width: auto;
  margin: 0 0;
  display: grid;
  grid-template-columns: 20% auto;
  align-items: center;
  border-color: #16A085;
}

.nameLog {
  float: left;
  text-align: left;
  font-size: 12pt;
  margin: 5px 0 20px 9px;
}

.uploadFoto {
  font-family: Montserrat Medium;
  background-color: white;
  border-radius: 20px;
  height: 24px;
  width: 268px;
  margin-left: 15px;
  margin-right: -20px;
  font-size: 12pt;
  font-style: italic;
  font-weight: normal;
}

.uploadFoto:hover {
  background-color: #16A085;
  color: white;
  cursor: pointer;
}

.uploadFoto:focus {
  background-color: #16A085;
  color: white;
}

.inputLog {
  width: 80%;
  padding: 10px;
  text-align: center;
  font-family: Montserrat SemiBold;
  font-size: 12pt;
  border-radius: 25px;
  border-color: rgb(rgb(122, 122, 122));
  text-align: left;
  margin: 0 0 20px 25px;
}

.inputLog:hover {
  border-color: #16A085;
}

.inputLog:focus {
  border-color: #16A085;
}

.inputLog_LO {
  width: 90%;
  text-align: center;
  font-family: Montserrat SemiBold;
  font-size: 12pt;
  border-radius: 25px;
  border-color: rgb(rgb(122, 122, 122));
  text-align: left;
  margin: 0px 0px 0px 70px;
}

.nameLog_LO {
  float: left;
  text-align: left;
  font-size: 12pt;
  margin: 0px 0px 0px 40px;
}

.lupaPass {
  width: 92%;
  padding: 10px;
  height: 20px;
  text-align: center;
  font-family: Montserrat SemiBold;
  font-size: 12pt;
  border-radius: 25px;
  border-color: rgb(rgb(122, 122, 122));
  text-align: left;
  margin: 0 3px 0 0;
}

.lupaPass:hover {
  border-color: #16A085;
}

.lupaPass:focus {
  border-color: #16A085;
}

.gridakun,
.gridakun:link,
.gridakun:visited {
  width: auto;
  margin: 0 0;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.kelolaAkun {
  background-color: white;
  border-color: #16A085;
  border-radius: 20px;
  color: #16A085;
  font-size: 12pt;
  height: 30%;
  height: 45px;
  width: 375px;
}

.kelolaAkun:hover {
  background-color: #16A085;
  color: white;
  cursor: pointer;
}

.kelolaAkun:focus {
  background-color: #16A085;
  color: white;
  cursor: pointer;
}

.kelolaAkunText {
  cursor: pointer;
}

.masukButton1 {
  font-family: Montserrat SemiBold;
  border-radius: 20px;
  height: 45px;
  width: 180px;
  background-color: white;
  border-color: #16A085;
  cursor: pointer;
  color: #16A085;
  font-size: 12pt;
  margin-left: 3px;
}

.masukButton1:hover {
  background-color: #16A085;
  color: white;
}

.masukButton1:focus {
  background-color: #16A085;
  color: white;
}

.ketLog {
  margin-top: -6px;
  margin-left: 105px;
  font-size: 9pt;
  text-align: left;
}

.ketLogdtl {
  margin: 0 0 0 14px;
}

.buttonGridLogin1 {
  width: auto;
  margin-top: 8px;
  display: grid;
  grid-template-columns: auto auto;
  text-align: right;
}

.buttonGridLogin2 {
  width: auto;
  margin-top: 8px;
  display: grid;
  grid-template-columns: 6% auto auto;
  align-items: center;
}

.buttonGridDaftar {
  width: auto;
  margin-top: 8px;
  display: grid;
  grid-template-columns: 6% 44% 6% auto;
  align-items: center;
}

.ingatSaya {
  float: left;
  font-size: 12pt;
  text-align: left;
  margin: 2px 0 0 5px;
  align-self: auto;
  vertical-align: middle;
}

.cbingatSaya {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  background: #fff;
  margin: 0 0 0 0;
  height: 19px;
  width: 19px;
}

.lupaPassword {
  font-size: 12pt;
  text-align: right;
  float: right;
  padding: 10px;
  margin: 0 0;
  width: auto;
  cursor: pointer;
}

.masuk {
  margin-top: 7px;
}

.daftarBaruNav {
  margin: 0 0;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.daftarBaru1 {
  margin: 0 0;
  font-size: 12pt;
  text-align: right;
  color: black;
}

.daftarBaru2 {
  margin: 0 0 0 5px;
  font-size: 12pt;
  text-align: left;
  color: black;
}

.kotak_daftar {
  text-align: center;
  float: left;
  margin-left: 330px;
  width: 45%;
  background-color: white;
  margin-left: -100px;
  margin-top: 20px;
  text-align: center;
  padding: 30px;
  border-radius: 40px;
}

.medsos {
  float: left;
  text-align: center;
  width: 200px;
  margin: 0 0 20px 0;
}

.medsosLogo {
  float: left;
  width: 150px;
  margin: 0 0 10px 12px;
}

.masukButton {
  border-radius: 30px;
  height: 68px;
  width: 175px;
  background-color: white;
  border: white;
  cursor: pointer;
}

.kolom_input1 {
  float: right;
  box-sizing: border-box;
  width: 50%;
  padding: 10px;
  font-size: 12pt;
  margin-bottom: 2px;
}

.kotakDaftar {
  font-family: Montserrat SemiBold;
  text-align: center;
  float: left;
  width: 50%;
  background-color: white;
  margin-left: 290px;
  margin-bottom: 50px;
  text-align: center;
  padding: 30px;
  border-radius: 40px;
}

.backgroundTransparantDaf {
  width: 1393px;
  height: 668px;
  margin-top: -10px;
  margin-left: -8px;
  background-color: rgba(255, 255, 255, 0.6);
}

.ketDaftar {
  margin-top: -6px;
  margin-left: 165px;
  font-size: 9pt;
  text-align: left;
}

.daftar {
  margin-top: 20px;
  margin-bottom: -20px;
  margin-right: 200px;
}

.daftarButton {
  border-radius: 30px;
  height: 68px;
  width: 175px;
  background-color: white;
  border: white;
  cursor: pointer;
}

/*untuk navigasi rekomendasi*/
.navbar2 {
  padding: 10px;
  background-color: #143D16;
  width: 100%;
  height: 50px;
  position: fixed;
  margin-top: -10px;
  margin-left: -9px;
}

.user_profile {
  background-color: white;
  float: right;
  margin-top: -28px;
  margin-right: -80px;
  text-decoration: none;
  border-radius: 20px;
  padding: 5px 5px 5px 5px;
  color: #143D16;
  font-size: 15px;
}

.navigasi2 {
  float: right;
  padding: 10px 100px 0px 0px;
  margin-right: 50px;
}

.peta_atas {
  display: grid;
  grid-template-columns: 19% 16% 10% 10% 10%;
  grid-gap: 50px;
  margin-left: 2%;
}

.peta_detailSm {
  height: 310px;
  width: 300px;
}

.peta_detailK {
  height: 265px;
  width: 275px;
  margin-top: -10px;
  margin-left: 10px;
}

.peta_detailSl {
  height: 440px;
  width: 250px;
  margin-top: -120px;
  margin-left: 40px;
}

.peta_detailM {
  height: 340px;
  width: 300px;
  margin-top: 30px;
  margin-left: 20px;
}

.peta_detailP {
  height: 315px;
  width: 300px;
  margin-top: 20px;
  margin-left: 30px;
}

.peta_bawah {
  display: grid;
  grid-template-columns: 40% 20%;
  grid-gap: 70px;
  margin-left: 7%;
  Padding: 0px 0px 0px 0px;
}

.peta_detailJM {
  height: 90px;
  width: 325px;
  margin-left: 150px;
  margin-top: -60px;
}

.peta_detailNT {
  height: 90px;
  width: 375px;
  margin-top: 10px;
  margin-left: -90px;
}

.footer {
  background-color: #143D16;
  color: white;
  width: 100%;
  margin-left: -10px;
  height: 540px;
  width: 101.4%;
}

.griddFooter {
  margin: 0 0;
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
}

.griddFooter1 {
  margin: 0 0 0 0;
  text-align: right;
  margin-right: 5px;
}

.ikutikami {
  box-sizing: border-box;
  width: 400px;
  padding: 10px;
  font-size: 11pt;
  margin: 0 0 0 0;
  border-radius: 20px;
}

.ikutikami:hover,
.ikutikami:focus {
  border-color: rgb(24, 83, 27);
}

.griddFooter2 {
  margin: 0 0 0 0;
  text-align: left;
  margin-left: 5px;
  margin-top: 1px;
}

.email {
  height: 40px;
  margin: 0 0 0 0;
  border-radius: 20px;
}

.footerLogo {
  margin-top: 10px;
  width: 70%;
}

.footerText {
  letter-spacing: 0.5px;
  word-spacing: 5px;
  color: white;
  margin-top: -2px;
}

.gridLogoSosmed {
  margin: 0 0;
  display: grid;
  grid-template-columns: 15% 15% 15%;
  text-align: center;
}

.copyright {
  margin-top: 5px;
  color: #143D16;
  font-weight: bold;
  font-style: italic;

}

.copyright1 {
  color: #143D16;
  text-decoration: none;
}

.copyright1:hover {
  color: #143D16;
  line-height: 10px;
  border-bottom: 2px solid #143D16;
}

.logoSosmed {
  width: 90%;
  margin-top: -10px;
}

.logoSosmed:hover {
  background: white;
  border-radius: 20px;
}

.footerIndex {
  margin-top: 25%;
}

.keterangan {
  color: white;
  margin: 0 4% 0 7%;
  font-family: Montserrat SemiBold;
  text-align: justify;
  font-size: 12pt;
  line-height: 25px;
}

.ikuti {
  /* box-sizing: border-box; */
  width: 35%;
  /* padding: 10px; */
  font-size: 11pt;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
}

/* <<<<<<< HEAD=======.kotakikuti {
  background-color: #C49D48;
  width: 10%;
  text-decoration: none;
  border-radius: 5px;
  padding: 1px 1px 1px 1px;
  color: white;
  font-size: 20px;
} */

/* -------------------------------- */

#message {
  font-family: Aleo;
  text-align: left;
  display: none;
  border-radius: 20px;
  background-color: rgba(2, 77, 139, 0.849);
  color: white;
  position: absolute;
  padding: 4%;
  /* text-align: right; */
  margin-top: 14%;
  margin-left: 77.75%;
  width: 13%;
  height: 38%;
}

#message p {
  font-size: 100%;
}

.valid {
  color: white;
}

.valid:before {
  position: relative;
  left: -20%;
  content: "✓";
}

.invalid {
  color: orangered;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✘";
}

/* ------------------------------- */



.kaki {
  position: absolute;
  width: 100%;
  top: 96.2%;
  background-color: black;
  height: 15px;
  padding: 5px;
  opacity: .5;
}

.kaki a {
  color: white;
  text-decoration: none;

}

.videobg {
  position: fixed;
  background-color: rgba(0, 0, 100, 0.3);
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
}

.bgContent {
  /* position: fixed; */
  background-color: rgba(255, 255, 255, 0.97);
  overflow: hidden;
  margin: 0 -0.5% -0.5%;
  object-fit: cover;
}

.videobg h2 {
  transition: 0.5s;
  text-align: center;
  font-size: 5rem;
  position: absolute;
  top: 55%;
  left: 50%;
  margin-right: -50%;
  margin: 0px;
  padding: 0px;
  opacity: .9;
  transform: translate(-50%, -50%)
}

.video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}

.ImgSlide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}

/* .judul h1 {
  float: left;
  width: 75%;
  margin-top: 40px;
  font-size: 3rem;
  transition: 0.4s;

} */

/* .judul img {
  float: left;
  border-radius: 400px;
  margin: 20px
} */

.navigasi {
  /* background-color: blue; */
  width: auto;
  height: 40px;
  padding: 0px;
  margin-top: 128px;
  opacity: .8;
}

ul {
  padding: 0px;
  margin: -10px 10px 0 140px;
  list-style: none;
}

ul li {
  /* background-color: blue; */
  text-align: center;
  float: left;
  width: 140px;
  height: 40px;
}

ul li a {
  text-decoration: none;
  color: white;
  display: block;
  transition: 0.4s;
}

ul li a:hover {
  transition: 0.4s;
  background: #16A085;
  /* border-radius: 180px; */
}

ul li ul li {
  margin: 0px;
  display: none;
  transition: 0ms;
}

ul li:hover ul li {
  opacity: .8;
  display: block;
}

/* ------------------------------- */

.footerli {
  color: #688095;
  text-align: left;
  align-items: left;
  margin-left: 20px;
  padding: 10px;
}

.footerli:hover {
  background: rgb(24, 83, 27);
  color: #16A085;
  border-radius: 20px;
  padding: 10px;
}

.footerul {
  color: #688095;
  display: grid;
  margin: 10px 0px 0px 90px;
  grid-template-columns: 30% 20% 20% 20%;
  text-align: left;
}

.textWhite {
  color: white;
}

.textWhite:hover {
  border-right: 5px solid white;
}

/*halaman rekomendasi daerah*/
.list_rekomendasi {
  /* weight: 100px; */
  font-weight: 100px;
  height: 100px;
  max-width: 100%;
  display: block;
  height: auto;
}

.gambar_rekomendasi {
  /* weight: 100px; */
  font-weight: 100px;
  height: 100px;
  max-width: 100%;
  display: block;
  height: auto;
}

.ContentPeta {
  font-family: Aleo;
  background-color: #16A085;
  border-radius: 20px;
  width: auto;
  margin: 0 4% 0 4%;
  padding: 4px;
  align-items: center;
  color: white;
}

/* footer  */
/* footer {
  position: static;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  text-align: center;
margin: 0;
padding: 10px 0;
box-shadow: 0 -4px 7px rgba(0, 0, 0, 0.5)
}

/* ----------------------------------------------------------------------- */
/* Responsive Page */

.burger-menu {
  margin: 10px;
  background-image: url('menu/menu-burger.png');
  width: 50px;
  height: 50px;
  float: right;
  /* display: none; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* @media screen and (max-width: 920px) {
  .nav {
    position: fixed;
    width: 100%;
    margin: 0 0 0 0;
    display: grid;
    grid-template-columns: 18% 67.5% 15%;
    align-items: center;
  }


} */


/* @media screen and (min-width: 920px) {
  .nav {
    position: fixed;
    width: 100%;
    margin: 0 0 0 0;
    display: grid;
    grid-template-columns: 18% 67.5% 15%;
    align-items: center;
  }
} */

/* @media only screen and (max-width: 600px) {
  .nav {
    position: fixed;
    width: 100%;
    margin: 0 0 0 0;
    display: grid;
    grid-template-columns: 18% 67.5% 15%;
    align-items: center;
  }

  ul li {
    background-color: blue;
    float: left;
    width: 100px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 10px;
    margin-left: 10%;
  }

  .navigasi {
    background-color: blue;
    width: auto;
    height: 20px;
    padding: 0px;
    margin-top: 98px;
    opacity: .8;
  }

  .videobg h2 {
    text-align: center;
    font-size: 3rem;
    position: absolute;
    top: 55%;
    left: 50%;
    margin-right: -50%;
    margin: 0px;
    padding: 0px;
    opacity: .9;
    transform: translate(-50%, -50%)
  }

} */

@media screen and (min-width: 801px) {

  /* nav ul li {
    display: block;
  } */
  /* .logoMT {
    display: none;
  } */

  /* .footerIndex {
    margin-top: 25%;
  } */
}


@media screen and (max-width: 800px) {

  ul li {
    text-align: right;
    margin-left: 200px;
    /* display: none; */
  }

  .logoMT {
    margin-left: 30px;
    margin-top: 10px;
  }

  .akun {
    display: none;
  }

  .burger-menu {
    display: contents;
  }

  .navslide {
    text-align: center;
    width: auto;
    margin-top: 0.9%;
    margin-left: 4.25%;
    display: grid;
    grid-template-columns: 5% 5% 5% 5% 5%;
  }

  .footerIndex {
    margin-top: 44%;
  }


  .judul {
    color: white;
    font-family: Montserrat SemiBold;
    text-align: left;
    font-size: 25pt;
    scroll-margin-left: 3px;
  }

  .keterangan {
    color: white;
    margin: 0 4% 0 7%;
    font-family: Montserrat SemiBold;
    text-align: justify;
    font-size: 12pt;
    line-height: 25px;
  }

  .search {
    box-sizing: border-box;
    width: 400px;
    padding: 10px;
    font-size: 11pt;
    margin: 0 0 0 0;
    border-radius: 20px;
  }

  #active {
    border-bottom: 0px;
    border-right: 3px solid white;
  }

  #active:hover {
    border-right: 0px solid rgba(22, 160, 132, 0);
  }
}

@media screen and (max-width: 425px) {

  /* nav ul li {
    display: none;
  } */

  .footerIndex {
    margin-top: 90%;
  }
}


/* @media screen and (max-width: 400px) {
  footer div a {
    text-decoration: none;
    margin: 0px;
    padding: 0;
    display: block;
    color: #7F7F7F;
  }

  footer div p {
    text-align: center;
    color: #7F7F7F;
    margin: 0;
    padding: 0;
  }
} */

/* @media screen and (min-heigth: 300px) {
  footer {
    display: none;
  }
} */